[submodule "shell"]
	path = shell
	url = git@github.com:rafaelsevla/shell.git
[submodule "base"]
	path = base
	url = git@github.com:rafaelsevla/base.git
[submodule "mfe1"]
	path = mfe1
	url = git@github.com:rafaelsevla/mfe1.git
[submodule "mfe2"]
	path = mfe2
	url = git@github.com:rafaelsevla/mfe2.git
